body {
  background-color: #eeeeee;
  color: #555;
}

.todo-list{
  position: relative;
  margin: 30px auto;
  background-color: #ffffff;
  width: 600px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #dddddd ;
  border-radius: 2px;
}

.todo-list h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.list-group-flush> .list-group-item {
  padding: 8px 0px;
}

.todo-footer{
  background-color: #f4fce8;
  margin-top: 0;
  margin-bottom: -10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
}

.mark-all-done {
  margin-top: 10px;
}

.form-control {
  border-radius: 0;
}

.add-todo {
  margin: 10px 0px;
}

.page-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.page-btn {
  border: 0;
  background: #333333;
  color: #ffffff;
  margin: 0 15px;
}